body {
	background-color: black;
	width: 1280px;
	height: 800px;
	margin: 0 auto;
}



.goatPhoto {
	background: gray;
	border: dodgerblue solid 2px;
	margin:0 auto;
	width: 175px;
	height: 175px;
	padding: 25px;
	float: left;
}