body {
	background-image: url('Images/goatback.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	font-family: 'Nanum Brush Script', cursive;
	font-size: 35px;
}

div {
	margin: 0 auto;
	width: 1280px;
	height: 200px;
}

.goatPhoto {
	background: gray;
	border: dodgerblue solid 2px;
	margin:0 auto;
	width: 125px;
	height: 85px;
	padding: 25px;
	margin: 5px;
	float: left;
	opacity: .5;
	transition: .3s;
}

.goatPhoto:hover {
	opacity: 1;
}

.logo {
	width: 200px;
	height: 200px;
	display: block;
	border-radius: 50%;
	float: right;
}

button {
	margin-left: 1000px;
	opacity: .4;
	transition: 0.5s;
	width: 125px;
	height: 105px;
	font-family: 'Nanum Brush Script', cursive;
	font-size: 30px;
	border: 3px solid darkolivegreen;
	border-radius: 50%;
}

button:hover {
	margin-left: 1000px;
	opacity: 1;
	width: 125px;
	height: 105px;
	font-family: 'Nanum Brush Script', cursive;
	font-size: 30px;
	border: 3px solid white;
	border-radius: 50%;

}

h1 {
	color: darkolivegreen;
	text-shadow: 3px 2px white;
	letter-spacing: 3px;
	padding-bottom: 25px;
	text-align: center;
}

p {
	color: darkolivegreen;
	font-size: 50px;
	float: right;
	display: inline-block;
	padding-right: 10px;
	text-shadow: 2px 2px 4px white;
	font-weight: bolder;
}

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
        margin: 0 auto;
    }